.options {
 background-color: red;
 color: white;
 font-size: large;
 flex-direction: column;
 
}

.testimonial{
    background-color: rgb(214, 214, 214);
    padding: 2%;
    font-size: 20px;
    border-radius: 6px;
}

.bottom{
 font-size: 35;
 text-align: center;
 background-color: black;
 color: white;
 width: 100%;
 padding: 5%;
}