
.brand{
    color: red;
    font-size:4vw;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    margin: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    text-align: end;
    align-items: center;
    font-size: 20px;
    text-decoration: black;
}

.options {
display: flex;
gap: 50px;
padding: 5%;
}

.nav2{
  display: flex;
  width: 30px;
  flex-direction: column;
  gap: 30px;
}

.nav3{
    display: flex;
    background-color: red;
    color: white;
    padding: 20%;
    border-radius: 6px;
    font-size: 30px;
}

.body{
    display: flex;
    justify-content: space-around;
}

.testimonial{
    background-color: rgb(214, 214, 214);
    padding: 2%;
    font-size: 20px;
    border-radius: 6px;
}

.bottom{
 position: absolute;
 width: 100%;
 bottom: 0%;
 padding: 4%;
 background-color: black;
 color: white;
 font-family: sans-serif;
 font-size: 20px;
 text-align: center;
 border-radius: 5px;
}