
.nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    text-decoration: black;
    align-items: center;
}

.brand{
    color: red;
    font-size:4vw;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    margin: 0;
}

.words{
    padding-left: 2%;
}




.nav2{
  display: flex;
  flex-direction: column;
  gap: 30px;


}

.nav3{
    display: flex;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.body{
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-size: 18px;
}

.testimonial{
    background-color: rgb(214, 214, 214);
    padding: 2%;
    font-size: 20px;
    border-radius: 6px;
}


.bottom{
 position: absolute;
 width: 100%;
 bottom: 0%;
 padding: 2%;
 background-color: black;
 color: white;
 font-family: sans-serif;
 font-size: 30px;
 text-align: center;
 border-radius: 5px;
}